:root {
    --form-color: rgb(199, 198, 198);
    --text-color: rgb(99, 99, 99);
    --link-color: rgb(62, 168, 103);
    --dark-color:rgb(128, 128, 128);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark-color);
    color: var(--text-color);
    font-size: 16px;
}

.wrapper {   
    min-height: 200vh;    
    padding: 30px 0;
    
}

.register {
    display: flex;
    /* 100% берет ширину родителя и не считает бордеры */
    min-width: 200px;
    width: 100%;
    max-width: 700px;
    min-height: 400px;
    padding: 30px 20px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--form-color);
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.header h1 {
    display: inline-block;
    position: relative;    
    margin: 0;
    width: 100%;
    font-weight: bold;
    font-size: 1.6em;
}

.header span {
    display: inline-block;
    position: relative;    
    max-width: 22%;
    min-width: 150px;
    padding: 0 20px;
    background-color: var(--form-color);
    
}

.header h1::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0%;
    height: 2px;
    background-color: var(--dark-color);
        
}

.name-wrapper {
    display: flex;
    justify-content: space-between;
}

.name-wrapper input {
    width: 48%;
}

.accept {
    padding: 10px 0;
    text-align: left;
}

button.btn {
    padding: 10px ;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    background-color: var(--link-color);
    cursor: pointer;
}
.btn p{
    width: 100px;
    padding: 0;
    margin: auto;
 
}

input {
    margin: 7px 0;
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
}

input::placeholder {
    text-transform: capitalize;
}

a:not(p>a) {
    text-decoration: none;
    color: var(--link-color);
}

/* specific classes */
.text-center{
    text-align: center
}
.text-owerflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.white {
    color: white
}

.capitalize {
    text-transform: capitalize;
}
