body{
  background-color: azure;
}
.users-cards{
display: flex;
  /* min-width: 80vh; */
  flex: row wrap;
  justify-content: space-around;
}
.user-card{
  display: flex;
  min-width: 200px;
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  background-color: azure;
    
}
.user-photo{
  
  width: 50%;
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
  object-fit: cover;


}
.user-info{
  margin: auto;
  
  
}
.content h1{
  column-span: all;
  text-align: center;
}
.content{
  max-width: 1000px;
  min-height: 80vh;
  margin: auto;
  columns:3 200px;
  column-rule: rgb(116, 240, 188) dotted;
  column-gap: 2em;
  text-align: justify;
}