:root{
  --text-color: rgb(99, 99, 99);
  --link-color: rgb(62, 168, 103);
}
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(128, 128, 128);
  color: var(--text-color);
  font-size: 16px;
}

.wrapper{
  min-height: 200vh;
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

.register{
  display: flex;
  /* 100% берет ширину родителя и не считает бордеры */
  width: 100%;
  max-width: 500px;
  min-height: 400px;
  padding: 30px 20px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(199, 198, 198);
}

.register-form{
  display: flex;  
  flex-direction: column; 
  justify-content: space-between;
  align-items: stretch;
}

.header{  
  text-align: center;
  
  
}
.header h1{
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100px;
  color: rgb(49, 49, 49); 
  font-size: 1.6em;
  
}
.header span{
  
  background-color: rgb(199, 198, 198);
  z-index: 1;
}
/* задать ширину */

.header h1::before{
  content: "";
position: absolute;
width: 100%;
left: -120%;
height: 2px;
background-color: rgb(105, 29, 29);
top: 50%;
z-index: 0;

}
.name-wrapper{
  display: flex;  
  justify-content: space-between; 
}
.name-wrapper input{
  width: 48%;
}
.accept{
  padding: 10px 0;
  text-align: left;
}
.btn{
  padding: 10px;
  border: 1px solid grey ;
  border-radius: 4px;
  background-color: var(--link-color);
  text-transform: capitalize;
  cursor: pointer;
}
.text-owerflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.white{
  color:white
}
.capitalize{
  text-transform: capitalize;
}
input{
  margin: 7px 0;
  padding: 10px;
  border: 1px solid grey ;
  border-radius: 4px;
}
input::placeholder{
  text-transform: capitalize;
}
a:not(p>a){
  text-decoration: none;
  color: var(--link-color);
}
